<div class="main">
  <div>
  <div class="title">メンバー追加</div>
  <%= form_for @user, :html => {:class => 'pure-form'} do |f| %>

  	<div class="center">
      	<%= f.label :title, "メンバー名　" %>
      	<%= f.text_field :user_name %>
   	</div>

  	<div class="center">
      	<%= f.label :owner, "SlackID　 @" %>
      	<%= f.text_field :slack_id %>
  	</div>
    <br>
    <div class="center">
      	<%= f.submit :class => 'button-yellow pure-button'%>
  	</div>
  <% end %>

  <br>
  <br>
  <br>
  <HR size="1px">
  <div class="title">メンバーリスト</div>

  <table class="pure-table pure-table-bordered pure-table-striped center comment">
  <tr>
    <td>名前</td>
    <td>SlackID</td>
    <td></td>
  </tr>
  <% @users.each do |user| %>
    
    <tr>
      <td><%= user.user_name %></td>
      <td><%= user.slack_id %></td>
      <td>
        <%= link_to('削除', user_path(user.id), method: :DELETE, data: { confirm: '本当にこのメンバーを削除しますか？' }, :class => 'button-pink pure-button')%></td>
      </td>
    <tr>
  <% end %>
  </table>
  </tr>
  </div>
</div>
