<div class="main">
  <div>
  <div class="title">イベント一覧</div>
  <table class="pure-table pure-table-bordered pure-table-striped center width-max">
    <tr>
      <th>イベント名</th>
      <th>主催者</th>
      <th>開催日</th>
      <th>回答期限</th>
      <th>回答期限まで</th>
      <th>参加人数</th>
      <th></th>
      <th></th>
    </tr>
    <% @events.each_with_index do |event, i| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.owner %></td>
      <td><%= l(event.date) %></td>
      <td><%= l(event.deadline)  %></td>
      <td>
        <% if ( (event.deadline - Time.now) > 0) then %> 
          <%= ((event.deadline - Time.now)/60/60/24).floor %>日
          <%= ( ((event.deadline - Time.now)/60/60).floor)%24 %>時間
        <% else %>
          締
        <% end %>
      </td>
      <td><%= event.participants.where(status: 'participated').count %></td>
      <td><%= link_to('詳細', event_path(event.id),:class => 'button-green pure-button') %></td>
      <td><%= link_to('削除・編集', edit_event_path(event.id), :class => 'button-pink pure-button') %></td>
    </tr>
    <% end %>
  </table>
  </div>
</div>
