<div class="main">
<div>
<div class="title"><%= @event.title %></div>

<table class="pure-table pure-table-bordered pure-table-striped center width-max">
  <tr>
    <th>主催者</th>
    <th>開催日</th>
    <th>回答期限</th>
    <th>回答期限まで</th>
    <th>参加人数</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @event.owner %></td>
    <td><%= l(@event.date) %></td>
    <td><%= l(@event.deadline) %></td>
    <td>
      <% if ((@event.deadline - Time.now) > 0) then %> 
        <%= ((@event.deadline - Time.now)/60/60/24).floor %>日
        <%= (((@event.deadline - Time.now)/60/60).floor)%24 %>時間
      <% else %>
        締
      <% end %>
    </td>
    <td><%= @event.participants.count %></td>
    <td><%= link_to('削除・編集', edit_event_path(@event.id), :class => 'button-pink pure-button') %></td>
  </tr>
</table> 

<table class="pure-table pure-table-striped width-max center">
  <tr>
  <td><b>詳細</b></td>
  </tr>
  <tr>
  <td class="left"><%= markdown @event.detail %></td>
  </tr>
</table>

<br>
<HR size="2px">
<div class="title">出席状況</div>
<div class="announce">
<%= flash[:change_participant] %>
<%= flash[:error] %>
</div>
<div class="pure-g">
  <table class="pure-table pure-table-bordered pure-table-striped center status pure-u-7-24">
  <th>参加者</th>
  <th>　　　</th>
    </tr>
    <% @participated_users.each do |participanted_user| %>
      <tr>
        <td><%= participanted_user.user.user_name %></td>
        <td>
          <%= form_tag(action: :cancel, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => participanted_user.user_id) %>
            <%= button_tag('不参加に変更',:class => "button-in pure-button")%>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </table>
  <br>

  <table class="pure-table pure-table-bordered pure-table-striped center status pure-u-7-24">
  <th >不参加者</th>
  <th>　　　</th>
    </tr>
    <% @cancelled_users.each do |cancelled_user| %>
      <tr>
        <td><%= cancelled_user.user.user_name %></td>
        <td>
          <%= form_tag(action: :join, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => cancelled_user.user_id)%>
            <%= button_tag('参加に変更',:class => "button-out pure-button")%>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </table>
  <br>

  <table class="pure-table pure-table-bordered pure-table-striped center status pure-u-7-24">
  <th>未回答者</th>
  <th colspan="2"></th>
    </tr>
    <% @unanswered_users.each do |unanswered_user| %>
      <tr>
        <td><%= unanswered_user.user.user_name %></td>
        <td>
          <%= form_tag(action: :join, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => unanswered_user.user_id) %>
            <%= button_tag('参加',:class => "button-in pure-button")%>
          <% end %>
        </td>
        <td>
          <%= form_tag(action: :cancel, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => unanswered_user.user_id) %>
            <%= button_tag('不参加',:class => "button-out pure-button")%>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </table>
</div>

<br>
<HR size="2px">
<div class="title">コメント欄</div>
<%= form_tag({action: :add_comment},{class: "pure-form center" }) do %>
  <%= hidden_field('event', 'id', :value => @event.id) %>

  <div>
  <%= label :user_name, '名前'%><br>
  <%= text_field('comment', 'user_name') %>
  </div>

  <br>
  <div>
  <%= label :text, 'コメント'%><br>
  <%= text_area('comment', 'text' ,size: "60x5") %>
  </div>
  <br>
  <div>
  <%= button_tag('投稿する',:class => "button-green pure-button")%>
  </div>
<% end %>

<hr style="border:none;border-top:dashed 2px gray;width:60%">

  <% @comments.each do |comment| %>
    <table class="pure-table pure-table-bordered center comment">
    <tr class="pure-table-odd">
      <td>投稿者:<%= comment.user_name %></td>
    </tr>
    <tr>
      <td class="pure-table-odd">投稿日：<%= l(comment.created_at) %></td>
    </tr>
    <tr>
      <td class="left"><%= markdown comment.text %></td>
    </tr>
    </tbody>
    </table>
    <% end %>

</div>
</div>
