<h2><%= @event.title %></h2>

<table border="1">
  <tr>
    <th>主催者</th>
    <th>イベント詳細</th>
    <th>開催日</th>
    <th>参加期限</th>
  </tr>
  <tr>
    <%= content_tag :td, @event.owner %>
    <%= content_tag :td, @event.detail %>
    <%= content_tag :td, l(@event.date) %>
    <%= content_tag :td, l(@event.deadline) %>
  </tr>
</table> 

<br>

<table border="1">
<th>参加者</th>
  </tr>
  <% @participated_users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td>
        <%= form_tag(action: :cancel, method: :post) do %>
          <%= hidden_field 'event', 'id', :value => @event.id %>
          <%= hidden_field 'participant', 'user_id', :value => user.user_id %>
          <%= button_tag('キャンセル') %>
        <% end %>
      </td>
    </tr>
  <% end %>  
</table>

<table border="1">
<th>不参加者</th>
  </tr>
  <% @cancelled_users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td>
        <%= form_tag(action: :join, method: :post) do %>
          <%= hidden_field 'event', 'id', :value => @event.id %>
          <%= hidden_field 'participant', 'user_id', :value => user.user_id %>
          <%= button_tag('参加') %>
        <% end %>
      </td>
    </tr>
  <% end %>  
</table>

<table border="1">
<th>未回答者</th>
  </tr>
  <% @unanswered_users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td>
        <%= form_tag(action: :join, method: :post) do %>
          <%= hidden_field 'event', 'id', :value => @event.id %>
          <%= hidden_field 'participant', 'user_id', :value => user.user_id %>
          <%= button_tag('参加') %>
        <% end %>
      </td>
      <td>
        <%= form_tag(action: :cancel, method: :post) do %>
          <%= hidden_field 'event', 'id', :value => @event.id %>
          <%= hidden_field 'participant', 'user_id', :value => user.user_id %>
          <%= button_tag('不参加') %>
        <% end %>
      </td>
    </tr>
  <% end %>  
</table>
