<h2><%= @event.title %></h2>

<table border="1">
  <tr>
    <th>主催者</th>
    <th>イベント詳細</th>
    <th>開催日</th>
    <th>参加期限</th>
  </tr>
  <tr>
    <%= content_tag :td, @event.owner %>
    <%= content_tag :td, @event.detail %>
    <%= content_tag :td, @event.date.strftime('%Y年%m月%d日 %H時%M分') %>
    <%= content_tag :td, @event.deadline.strftime('%Y年%m月%d日 %H時%M分') %>
  </tr>
</table> 


<p><%= button_to('参加') %></p>

<table border="1">
<th>参加者</th>
  </tr>
  <% @participants.each do |participant| %>
    <tr>
      <%= content_tag :td, participant.user_name %>
    </tr>
  <% end %>  
</table>

