<h2><%= @event.title %></h2>

<table border="1">
  <tr>
    <th>主催者</th>
    <th>イベント詳細</th>
    <th>開催日</th>
    <th>参加期限</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @event.owner %></td>
    <td><%= @event.detail %></td>
    <td><%= l(@event.date) %></td>
    <td><%= l(@event.deadline) %></td>
    <td><%= link_to('削除・編集', edit_event_path(@event.id), :class => 'button-success pure-button') %></td>
  </tr>
</table> 

<br>

<table border="1">
<th>参加者</th>
  </tr>
  <% @participated_users.each do |participanted_user| %>
    <tr>
      <td><%= participanted_user.user_name %></td>
      <td>
        <%= form_tag(action: :cancel, method: :post) do %>
          <%= hidden_field('event', 'id', :value => @event.id) %>
          <%= hidden_field('participant', 'user_id', :value => participanted_user.user_id) %>
          <%= button_tag('キャンセル') %>
        <% end %>
      </td>
    </tr>
  <% end %>  
</table>

<table border="1">
<th>不参加者</th>
  </tr>
  <% @cancelled_users.each do |cancelled_user| %>
    <tr>
      <td><%= cancelled_user.user_name %></td>
      <td>
        <%= form_tag(action: :join, method: :post) do %>
          <%= hidden_field('event', 'id', :value => @event.id) %>
          <%= hidden_field('participant', 'user_id', :value => cancelled_user.user_id)%>
          <%= button_tag('参加') %>
        <% end %>
      </td>
    </tr>
  <% end %>  
</table>

<table border="1">
<th>未回答者</th>
  </tr>
  <% @unanswered_users.each do |unanswered_user| %>
    <tr>
      <td><%= unanswered_user.user_name %></td>
      <td>
        <%= form_tag(action: :join, method: :post) do %>
          <%= hidden_field('event', 'id', :value => @event.id) %>
          <%= hidden_field('participant', 'user_id', :value => unanswered_user.user_id) %>
          <%= button_tag('参加') %>
        <% end %>
      </td>
      <td>
        <%= form_tag(action: :cancel, method: :post) do %>
          <%= hidden_field('event', 'id', :value => @event.id) %>
          <%= hidden_field('participant', 'user_id', :value => unanswered_user.user_id) %>
          <%= button_tag('不参加') %>
        <% end %>
      </td>
    </tr>
  <% end %>  
</table>

<%= form_tag(action: :add_comment, method: :post) do %>
  <%= hidden_field('event', 'id', :value => @event.id) %>

  <div>
  <%= label :user_name, '名前'%>
  <%= text_field('comment', 'user_name') %>
  </div>

  <div>
  <%= label :text, 'コメント'%>
  <%= text_area('comment', 'text') %>
  </div>

  <div>
  <%= button_tag('コメント') %>
  </div>
<% end %>

<table>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.user_name %></td>
    <td><%= comment.text %></td>
  </tr>
<% end %>
</table>
