<div class="main">
<div>
<div class="title"><%= @event.title %></div>

<table class="pure-table pure-table-bordered pure-table-striped center">
  <tr>
    <th>主催者</th>
    <th>開催日</th>
    <th>参加期限</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @event.owner %></td>
    <td><%= l(@event.date) %></td>
    <td><%= l(@event.deadline) %></td>
    <td><%= link_to('削除・編集', edit_event_path(@event.id), :class => 'button-pink pure-button') %></td>
  </tr>
</table> 

<br>

<table class="pure-table pure-table-striped center_mergin">
  <tr>
  <td><b>詳細</b></td>
  </tr>
  <tr>
  <td><%= @event.detail %></td>
  </tr>
</table>

<br>

<div class="pure-g">

  <table class="pure-table pure-table-bordered pure-table-striped pure-u-7-24 center">
  <th>参加者</th>
    </tr>
    <% @participated_users.each do |participanted_user| %>
      <tr>
        <td><%= participanted_user.user.user_name %></td>
        <td>
          <%= form_tag(action: :cancel, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => participanted_user.user_id) %>
            <%= button_tag('不参加に変更',:class => "button-in pure-button")%>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </table>
  <br>

  <table class="pure-table pure-table-bordered pure-table-striped pure-u-7-24 center">
  <th >不参加者</th>
    </tr>
    <% @cancelled_users.each do |cancelled_user| %>
      <tr>
        <td><%= cancelled_user.user.user_name %></td>
        <td>
          <%= form_tag(action: :join, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => cancelled_user.user_id)%>
            <%= button_tag('参加に変更',:class => "button-out pure-button")%>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </table>
  <br>

  <table class="pure-table pure-table-bordered pure-table-striped pure-u-1-3 center">
  <th>未回答者</th>
    </tr>
    <% @unanswered_users.each do |unanswered_user| %>
      <tr>
        <td><%= unanswered_user.user.user_name %></td>
        <td>
          <%= form_tag(action: :join, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => unanswered_user.user_id) %>
            <%= button_tag('参加',:class => "button-in pure-button")%>

          <% end %>
        </td>
        <td>
          <%= form_tag(action: :cancel, method: :post) do %>
            <%= hidden_field('event', 'id', :value => @event.id) %>
            <%= hidden_field('participant', 'user_id', :value => unanswered_user.user_id) %>
            <%= button_tag('不参加',:class => "button-out pure-button")%>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </table>

<br><br><br>
<div class="title">コメント欄</div>
<%= form_tag({action: :add_comment},{class: "pure-form center comment" }) do %>
  <%= hidden_field('event', 'id', :value => @event.id) %>

  <div>
  <%= label :user_name, '名　前　'%><br>
  <%= text_field('comment', 'user_name') %>
  </div>

  <br>
  <div>
  <%= label :text, 'コメント'%>
  <%= text_area('comment', 'text' ,size: "60x5") %>
  </div>
  <br>
  <div>
  <%= button_tag('投稿する',:class => "button-green pure-button")%>
  </div>
<% end %>

</div>
  <div class="pure-g">

  <% @comments.each do |comment| %>
    <table class="pure-table pure-table-bordered pure-u-1-2 center">
    <tr class="pure-table-odd">
      <td>投稿者:<%= comment.user_name %></td>
    </tr>
    <tr>
      <td class="pure-table-odd">投稿日：<%= l(comment.created_at) %></td>
    </tr>
    <tr>
      <td><%= comment.text %></td>
    </tr>
    </tbody>
    </table>
    <% end %>

  </div>
</div>
</div>
