<!DOCTYPE html>
<html>
<head>
  <title>EventBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
  <div class="header">
  <div>
	<span class="header-title">Event Board</span>
	<span class="header-menu">
	    <%= link_to("イベント一覧", events_path , { :class => "pure-button" })  %>
	    <%= link_to("イベント追加", new_event_path ,{ :class => "pure-button" }) %>
	    <%= link_to("メンバー追加", '#' ,{ :class => "pure-button" }) %>
	</span>
  </div>
  </div>
</header>

<%= yield %>

<footer>
	  <div class="footer">
  <div>
	<span class="footer-title">EventBoard</span>
	<span class="header-menu">copyright: FlickFriend inc　　　</span>
  </div>
  </div>
</footer>

</body>
</html>
